body 
    {background-color: rgb(231, 226, 204);
        font-family: "Madimi One", sans-serif;
        color: black;
        font-weight: 200;
        font-style:normal}

h1 {
    text-align: center;}

/*Using Div as a container*/
.reason-1 {
        background-image: url(pic1.jpg);
        background-size: contain;
        background-position: center;
        color: rgb(94, 68, 20);
        background-color: white;
        padding: 10px;
        border: 2px solid white;
        font-size: 20px;
        padding: 30px;
        margin: 20px;
        max-width: 900px;
        text-align: center;
        margin: auto;}


.reason-2 {
        background-image: url(pic2.jpg);
        background-size: contain;
        background-position: center;
        color: black;
        background-color: black;
        padding: 10px;
        border: 2px solid black;
        font-size: 20px;
        background-color: rgba(8, 3, 3, 0.185);
        padding: 30px;
        margin: 20px;
        max-width: 900px;
        text-align: center;
        margin: auto;
        margin-top: 5%;}
        

.reason-3 {
      background-image: url(pic3.jpg);
        background-size: contain;
        background-position: center;
        color: red;
        background-color: rgb(111, 206, 147);
        padding: 10px;
        border: 2px solid rgb(111, 206, 147);
        font-size: 20px;
        background-color: rgba(255, 0, 0, 0.212);
        padding: 30px;
        margin: 20px;
        max-width: 900px;
        text-align: center;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;}

p {
    text-align: center;
    font-size: 20px;

}

/*max-width property*/
img {max-width: 40%;
   }



