body {
    background-color: rgb(250, 219, 235);
    color: MediumVioletRed;
    font-family: "Mulish", sans-serif;}

h1 {
    color: olivedrab;
    text-align: center;
    font-weight: bolder;}

/*Pseudo-class Selectors Below!*/

a:link {text-decoration: none;
        color: steelblue;}

a:hover {text-decoration: underline} 

a:active {color: red;}

a:visited {color: grey;}

h3 {
    font-weight: bolder;
    text-align: center;}

/* Nested Selector*/

h3 header {text-align: left;
            color: purple;}

h4 {
    font-weight: bold;
    text-align: center;}

a {
    font-style: italic;}

p {
    line-height: 1.5;}
