body 
    {background-color: rgb(250, 219, 235);
        color: MediumVioletRed;
    font-family: "Mulish", sans-serif;}

h1 /*Page Title*/
    {color: olivedrab;
    text-align: center;
    font-weight: bolder;
    /*Padding Property*/
    padding: 20px;}

    h4 /*name line*/
    {font-weight: bold;
    text-align: center;
    /*Padiding single-side property*/
    padding-bottom: 20px; 
    /*Border single-side Property*/
    border-bottom: 20px solid steelblue;}

/*Pseudo-class Selectors Below!*/

a:link {text-decoration: none;
        color: steelblue;}

a:hover {text-decoration: underline} 

a:active {color: red;}

a:visited {color: grey;}

h3 {
    font-weight: bolder;
    text-align: center;}

a /*header/site links*/
    {font-style: italic;
    font-weight: bolder;}

/*Class Selectors*/
.pink {color: mediumvioletred;}
.green {color: MediumSeaGreen;}

h2 {text-align: center;}

    /* Margin Property */
p {line-height: 1.8;
    margin:auto;
    margin-bottom: 20px;
    padding: 20px;
    width: 80%; height: 50%;
    text-align: center;
    font-size: 18px;
    background-color: lavenderblush;}

/*Border Property*/
img {border: 5px solid olivedrab;
    display:block;
    width: 40%;
    margin:auto;
    margin-bottom: 20px;}
    
/* Nested Selector*/
header /*"more to see"*/
    {text-align: center;
    text-decoration: underline;
    font-size: 25px;
    font-weight: bolder;
    /*Margin single-side property*/
    margin-bottom: 50px;
    padding-top: 40px ;
    border-top: 20px solid steelblue;}

ul{list-style-type: none;
    list-style-position: inside;
    text-align: center;
    font-size: 120%;
    padding-bottom: 50px;}

/*ID Selector*/
#more_id {color: olivedrab;}